<div class="container">
    <form name="newHeroForm" novalidate ng-submit="ctrl.save(newHeroForm, $event)">
        <div class="row">
            <div class="col-md-5">
                <label class="requiredInput">Heltenavn</label>
            </div>
            <div class="col-md-7">
                <input heroName="heroName" type="text" ng-model="ctrl.hero.heroName" ng-minlength="2" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label class="requiredInput">Ekte navn</label>
            </div>
            <div class="col-md-7">
                <input heroName="realName" type="text" ng-model="ctrl.hero.realName" ng-minlength="2" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label class="requiredInput">Høyde (i cm)</label>
            </div>
            <div class="col-md-7">
                <input heroName="height" type="text" ng-model="ctrl.hero.height" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label class="requiredInput">Superkrefter og evner</label>
            </div>
            <div class="col-md-7">
                <input heroName="powers" type="text" ng-model="ctrl.hero.powers" ng-minlength="2"/>
            </div>
        </div>

       <!-- <div class="row">
            <div class="col-md-5">
                <label class="requiredInput">Filmer/serier</label>
            </div>
            <div class="col-md-7">
                <isteven-multi-select
                        input-model="ctrl.movies"
                        output-model="ctrl.hero.movieAppearances"
                        button-label="title year"
                        item-label="title year"
                        tick-property="ticked">
                </isteven-multi-select>
            </div>
        </div>-->

        <div class="row">
            <div class="col-md-5">
                <label class="requiredInput">Gruppetilhørighet</label>
            </div>
            <div class="col-md-7">

             <select ng-model="ctrl.hero.groupAffiliation"
                        ng-options="group for group in ctrl.groups">
                    <option value="">Velg Gruppetilhørighet</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label class="requiredInput">Bilde</label>
            </div>
            <div class="col-md-7">
                <input type="text" ng-model="ctrl.hero.imageUrl" />
            </div>
        </div>

        <div class="row">
            <div class="buttons col-md-4">
                <button type="button" class="btn btn-secondary col-md-5" ng-click="ctrl.clearForm(newHeroForm, $event)">Avbryt</button>
                <button type="submit" class="btn btn-primary col-md-5" ng-click="Submit">Lagre</button>
            </div>
        </div>

    </form>
</div>



