<div class="container">
    <div class="deletedHero">{{ctrl.deletedMessage}}</div>
    <div class="deleteRandom">
        <button type="button" ng-click="ctrl.deleteRandomHero($event)">Slett tilfeldig</button>
    </div>
    <div class="searchContainer"><label>Søk: <input ng-model="search.heroName"></label></div>


    <div class="border row">
        <div class="border heroSmall col-md-3" ng-repeat="superhero in ctrl.superheroes | filter:search:strict" ng-click="ctrl.goToDetailsView($event, superhero.id)">
            <h1>{{superhero.heroName}}</h1>
            <div class="heroImg"><img ng-src="{{superhero.imageUrl}}"/></div>
            <div class="buttons">
                <button type="button" ng-click="ctrl.deleteHero($event, superhero)">Slett</button>
                <button type="button" ng-click="ctrl.goToDetailsView($event, superhero.id)">Endre</button>
            </div>
        </div>
    </div>
</div>